<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Quiz</title>
</head>

<body>
  <div class="main">
    <div>
      <%= title %>
    </div>
    <div class="container"></div>
    <button data-start="starttest" >start</button>
    <button class="btn">next</button>
</body>
</div>
<script type="module" src="script.js"></script>

</html>