.main {
  max-width: 800px;
  margin: 0 auto;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.title {
  text-align: center;
  font-size: 40px;
  padding: 25px;
  background-color: #8ba0b3;
}

.buttons {
  display: flex;
  gap: 20px;
  margin: 100px 150px;
}
.start {
  height: 40px;
  width: 200px;
  background-color: aquamarine;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 25px;
  font-size: 20px;
  font-weight: 600;
  /* margin: 50px 300px; */
}
.edit {
  height: 40px;
  width: 200px;
  background-color: rgb(170, 215, 91);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 25px;
  font-size: 17px;
  font-weight: 600;
  /* margin: 50px 300px; */
}
.start:hover {
  background-color: rgb(20, 199, 139);
}

.next-question {
  margin: 20px 0;
  width: 200px;
  height: 40px;
  font-size: 19px;
  background-color: rgb(173, 214, 76);
  border-radius: 25px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  gap: 10px;
}

.add-question {
  text-align: center;
  font-size: 34px;
  margin: 30px;
}

.label-text {
  font-size: 25px;
  margin-left: 30px;
}

.length {
  margin: 130px;
  font-size: 40px;
}

.radio-button {
  width: 24px;
  height: 24px;
  border: 2px solid #007bff;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

.custom-dropdown {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.custom-dropdown input {
  display: block;
  /* width: 100%; */
  margin-bottom: 5px;
  padding: 5px;
}

.div-list {
  display: none;
}

.toggle-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border: none;
  /* border: 1px solid #ccc;
  border-radius: 4px; */
  background-color: #fff;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  transition: box-shadow 0.2s;
}

.add-new-answer {
  width: 150px;
  height: 30px;
  margin: 10px 0;
}

.add-new-question:hover {
  background-color: #69a6da;
}

.input-wrapper {
  display: flex;
}

.remove-btn {
  width: 9px;
  height: 16px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.save-new-value-button {
  width: 170px;
  height: 45px;
  background-color: #a9d961;
  border-radius: 20px;
  border: 1px solid black;
  cursor: pointer;
}
