.main {
  max-width: 800px;
  margin: 0 auto;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.title {
  text-align: center;
  font-size: 40px;
  padding: 25px;
  background-color: #8ba0b3;
}

.buttons {
  display: flex;
  gap: 20px;
  margin: 100px 150px;
}
.start {
  height: 40px;
  width: 200px;
  background-color: aquamarine;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 25px;
  font-size: 20px;
  font-weight: 600;
  /* margin: 50px 300px; */
}
.edit {
  height: 40px;
  width: 200px;
  background-color: rgb(170, 215, 91);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 25px;
  font-size: 17px;
  font-weight: 600;
  /* margin: 50px 300px; */
}
.start:hover {
  background-color: rgb(20, 199, 139);
}

.next-question {
  margin: 20px 0;
  width: 200px;
  height: 40px;
  font-size: 19px;
  background-color: rgb(173, 214, 76);
  border-radius: 25px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  gap: 10px;
}

.add-question {
  text-align: center;
  font-size: 34px;
  margin: 30px;
}

.label-text {
  font-size: 25px;
  margin-left: 30px;
}

.length {
  margin: 130px;
  font-size: 40px;
}

.radio-button {
  width: 24px;
  height: 24px;
  border: 2px solid #007bff;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}
